*{
    margin: 0;  
    padding: 0;
}

/*HEADER DO HTML*/
.cabecalhoPrincipal{
    background: #161616;
    padding: 20px;
}
.container-menu{
    display: flex;
    background: #161616;
    align-items: center;
    justify-content: space-between;
}
.cabecalho-principal-link{
    color: white;
    padding: 30px;
    text-decoration: none;
    font-size: 20px;
}
.cabecalho-menu{
    margin-left: 10px;
    margin-top: 10px;
    background: #161616;
}
.nav-main{
    position: relative;
    justify-content: space-between;
    text-decoration: none;
    margin-right: 30px;

}
.nav-main a{
    flex-direction: row;
    text-align: center;
    padding: 35px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200px;
}

.nav-main a:hover{
    background-color: #ff4040;
    color: white;
    padding: 35px;

}

/*RODAPÉ DA PÁGINA-FOOTER*/
.contato-rodape{
    background: #161616;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 200px;
    background: #161616;
}
.contato-rodape{
    text-align: center;
    background: #161616;
}
.lista-contatos{
    list-style-type: none;
}
.horario-funciona{
    color: #ff4040;
    text-align: center;
}
.contatos{
    color: #ff4040;
}
.info-det{
    text-decoration: none;
    color: #ff4040;
}
.info-det .gmail{
    color: #ff4040;
    text-decoration: none;
}
.info-det .facebook{
    color: #ff4040;
    text-decoration: none;
}
.info-det .instagram{
    color: #ff4040;
    text-decoration: none;
}
.horarioFun{
    color: #ff4040;
}
.TabHorFun tbody tr td{
    color: #ff4040;
}
.nome{
    color: #ff4040;
    padding-top: 10px;
    text-align: center;
    background: #161616;
}