/*CORPO DO SOBRE NÓS*/

h1{
    color: #ff4040;
    margin-top: 10px;
    margin-left: 20px;
}

.container{
    background: #f6f6f6;
    margin-top: 20px;
}
.txtSobreNos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobrenos_logo{
    margin-top: 20px;
}
.texto_sobrenos{
    margin-top: 20px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

/*FOOTER*/
.h3{
    background: #696969;
    align-items: center;
}